.container {
  display: flex;
  flex-wrap: wrap;
}
.column {
  border-radius: 10px;
  border: 1px #eee solid;
  margin: 8px 16px;
  box-shadow: 4px 4px 12px 2px rgba(0,0,0,0.1);
  width: calc(100% / 5); /* TODO */
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.program {
  border-radius: 10px;
  border: 1px #eee solid;
  margin: 4px;
  padding: 8px;
  color: #444;
}

.time {
  color: #ccc;
}
.title {
  margin: 0px;
  color: #333;
}
.info {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
