.form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 0.5rem 0;
}

.stationAndTitle {
  display: grid;
  grid: auto / 1fr 5fr;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.personality {
  width: 100%;
}

.fromAndTo {
  display: grid;
  grid: auto / 1fr 1fr;
  align-items: center;
  gap: 0.5rem;
  width: 75%;
}

.info {
  overflow-y: auto;
  padding: 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid var(--slate-6);
  color: var(--slate-10);
  width: 100%;
  font-size: 0.75rem;
  line-height: 1rem;
  max-height: 300px;
}

.info > a {
  color: var(--blue-11);
}

.formControlGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  width: 100%;
}

.input {
  padding: 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid var(--slate-7);
  width: 100%;
  font-size: 0.75rem;
  line-height: 1rem;
  color: var(--slate-12);
}

.errorMessage {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--red-11);
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: 0.75rem;
  border: 1px solid var(--slate-7);
  background-color: var(--slate-3);
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100px;
  height: 36px;
  color: var(--slate-11);
}

.submitButton:hover {
  background-color: var(--slate-4);
}

.spinner {
  border-radius: 9999px;
  border-top: 1px solid var(--slate-8);
  border-bottom: 1px solid var(--slate-8);
  border-right: 1px solid var(--slate-8);
  border-left: 1px solid var(--slate-9);
  animation: spin 1s linear infinite;
  width: 20px;
  height: 20px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
